@media (max-width: 600px) {
    .home-navbar {
        display: flex;
        justify-content: space-around;
        padding: 12px;
        text-align: center;
        background-color: #f5c38c; 
        box-shadow: 0px 4px 2px -2px gray;
    }

    .home-links-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 70px;
    }

    .home-link,
    .home-link1,
    .home-link2,
    .home-link3 {
        font-weight: bold;
        color: black;
        text-decoration: none;
        font-size: 1rem;
    }

    .home-cta-container{
        padding: 10px 15px 12px 0px;
    }

   .home-cta-btn {
            background-color: #81660b; 
            color: white;
            padding: 8px 10px;
            border-radius: 20px;
            font-weight: bold;
            font-size: 0.9rem;
            margin-left: 30px;
        }

    .home-hero {
      flex-direction: column;
      padding: 20px;
    }

    .home-hero-text-container {
      width: 100%;
      margin: 0;
      text-align: center;
      order: 3; 
    }

    .home-image1 {
        order: 1;
        width: 100%; 
        max-width: 100%;
        margin-bottom: 20px;
    }

    .home-heading {
        order: 2;
        font-size: 36px;
    }

    .home-text02 {
        font-size: 1rem;
        order: 3;
        margin: 10px 0;
        padding: 0 10px;
    }

    .home-cta-btn2 {
        order: 4;
        width: 100%;
        max-width: 200px;
        margin-top: 20px;
    }

    .home-features {
      height: auto;
      padding: 20px;
    }

    .home-heading-container {
      width: 100%;
    }

    .home-hero-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
    .home-text {
      font-size: 2.5rem;
      text-align: center;
    }

    .home-text03 {
      font-size: 2.5rem;
    }

    .home-cards-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
      width: 100%;
    }

    .home-image2,
    .home-image3,
    .home-image4 {
      width: 100%;
      height: auto;
    }

    .home-stats {
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .home-stat,
    .home-stat1,
    .home-stat2,
    .home-stat3 {
      padding: 16px;
    }

    .home-text08,
    .home-text13,
    .home-text17,
    .home-text22 {
      font-size: 2rem;
    }

    .home-text11,
    .home-text15,
    .home-text20,
    .home-text24 {
      font-size: 1rem;
    }

    .home-hero-text-container {
      text-align: center;
    }

    .home-cta-btn2 {
      width: 80%;
      margin: 20px auto;
    }
}
